.carousel-container {
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  
  .carousel-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    z-index: 3;  
    /* Center slide content vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;  

  }